body {
  font-family: "Open Sans", sans-serif;
}

.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/img2.jpg");
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: #0000004f;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area {
  position: relative;
  z-index: 2;
  display: flex;
  padding: 15px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  font-size: larger;
}

.header-area .links {
  list-style: none;
  padding-right: 30px;
  padding-left: 0;
  width: 100%;
  text-align: right;
  font-weight: bold;
}

.header-area .links li {
  display: inline-block;
  margin-left: 20px;
}
li a {
  text-decoration: none;
  color: black;
}
li a:hover,
.active {
  color: #7c4c4c;
  transition: 0.3s;
}
.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #474a45;
}

.intro h1 {
  font-size: 40px;
}
.intro h1 span {
  color: #7c4c4c;
}
.intro p {
  color: #3f3f38;
  font-size: 20px;
  line-height: 1.6;
}

.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: white;
  width: 200px;
  z-index: 1000;
  transition: 0.3s;
  min-height: 100vh;
}
.setting-box.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  top: 100px;
  background-color: white;
  text-align: center;
  right: -30px;
  cursor: pointer;
}
.setting-box .toggle-setting .fa-gear {
  padding: 8px 0;
  width: 30px;
}
.setting-box .setting-container {
}
