body {
  font-family: "Cairo", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Ms Madi", cursive;
  font-family: "Mukta", sans-serif;
  font-family: "Mynerve", cursive;
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Unbounded", cursive;
}
